{% extends 'shop/base.html' %}

{% block title %}
  About Us
{% endblock %}

{% block body %}
  <div class="container my-4">
    <h1 class="display-4">Welcome to My Awesome Cart</h1>
    <p class="lead">Your one-stop shop for all your daily needs.</p>
    <hr class="my-4" />
    <p>My Awesome Cart is an e-commerce website that offers a wide variety of products across various categories. We are committed to providing our customers with the best possible online shopping experience.</p>
    <p>Our mission is to make online shopping easy, convenient and secure. We believe in providing our customers with a seamless shopping experience and an unparalleled customer service.</p>
    <p>We are dedicated to providing our customers with the best quality products at the best possible prices. We strive to make sure that our customers have a positive experience with us and that they come back to us again and again.</p>
    <hr class="my-4" />
    <p>Our team is dedicated to providing our customers with the best possible online shopping experience. We are passionate about what we do and we are committed to excellence in everything that we do.</p>
  </div>
{% endblock %}
