{% extends 'blog/base.html' %}

{% block title %}
  Blog
{% endblock %}

{% load static %}

{% block body %}
  <div class="container">
    <div class="row my-5">
      {% for post in blogposts %}
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column justify-content-between position-static">
              <strong class="d-inline-block mb-2 text-primary">{{ post.head1 }}</strong>
              <h3 class="mb-0">{{ post.title|slice:':50' }}...</h3>
              <div class="mb-1 text-body-secondary">{{ post.publishedAt }}</div>
              <p class="card-text mb-auto">{{ post.content|slice:':200' }}...</p>
              <a href="blogpost/{{ post.post_id }}" class="icon-link gap-1 icon-link-hover stretched-link">
                Continue reading<svg class="bi">
                  <use xlink:href="#chevron-right"></use>
                </svg>
              </a>
            </div>
            <div class="col-auto d-none d-lg-block">
              <img src="/media/{{ post.thumbnail }}" alt="thumbnail" class="bd-placeholder-img img-thumbnail" width="200" height="250" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false" />
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
